.step {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.rep {
    display: flex;
}

.StepsAndRepsContainer {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 99vh;
    width: 100vw;
    justify-content:center;
}

.stepTime {
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
   
}

.stepSpeed {
    
    display: flex;
    align-items: flex-start;
}

.rep {
    display: flex;
    align-items: baseline;
}

.phaseInfos {
    display:flex;
}

    .phaseInfos p {
        margin : 0px 10px;

    }

.buttons {
    display: flex;
    margin-top: 50px;
    align-items:center;
}

    .buttons button {
        margin : 0px 10px;
        font-family:monospace;
    }

input {
    width: 60px;
    border: none;
    border-bottom: solid 1px lightblue;
}

.rep input {
    margin-left: 10px;
    
}

.timer .currentStep, .timer .nextStep {
    justify-content: center;
    display: flex;
}

    .timer .currentStep p, .timer .nextStep p {
        margin: 0px 10px;
    }

    .timer .currentStep p {
        font-size: 50px;
    }

.timer .nextStep {
    
    font-size: 35px;
    color: lightsteelblue;
}

.PhaseChangeButton {
    border: none;
    background-color: white;
    color: black;
    font-size: 30px;
    font-family: cursive;
}

.AddRemoveStepButton {
    border:none;
    font-weight: 600;
    padding: 10px 10px;
}

.AddStepButton {
    background-color: lightblue;
}

.RemoveStepButton {
    background-color: lightcoral;
}

.ResetImg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor:pointer;
}

.StartStopButton {
    border: none;
    padding: 10px 20px;
    background-color: darkcyan;
    color: white;
    font-weight: 700;
    font-size: 25px;
    font-family: monospace;
}


.PhaseTitle {
    text-decoration: underline;
    color: cadetblue;
    margin-bottom: 50px;
}

.MultiplierX {
    font-family: cursive;
    font-size: x-small;
    font-weight: bold;
    color: cadetblue;
}

.step p {
    font-family: monospace;
    font-size: large;
    color: lightgrey;
}